<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Organization">
    <head>
        <meta charset="utf-8">
        <title>B.U.N.S.</title>
        <meta property="og:title" content="B.U.N.S!" />
        <meta name="description" property="og:description" itemprop="description" content="A co-ed group of friends at Brown University who think that being naked is pretty fun.">
        <meta name="author" itemprop="name" content="Brown University Naked Society">
        <meta property="og:image" content="https://buns.fyi/og-preview.png" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link itemprop="url" href="https://buns.fyi">
        <link rel="canonical" href="https://buns.fyi">
        <link rel="stylesheet" href="{{ get_url(path='base.css') }}">
        {% block head %}{% endblock %}
    </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>