{% extends "base.html" %}

{% block head %}

{% endblock content %}

{% block content %}
<header>
    <object type="image/svg+xml" data="bunbun.svg" id="bunbun"></object>
    <span id="contact">Just <a itemprop="email" href="mailto:ask@buns.fyi">ask@buns.fyi</a>!</span>
</header>
<main>
    <p>
        Hi there! We're a co-ed group of friends at Brown University who think that being naked is pretty fun.
        By-and-large, we're all pretty new to this sort of thing, so we're very welcoming to newcomers!
        <span id="signoff">—The Brown University Naked Society</span>
    </p>

    <section>
        <h2>What do we do?</h2>

        <section>
            <h3>Dyer Woods</h3>
            <p>We organize regular carpools to nearby nude-friendly areas like <a href="http://dyerwoodscampgrounds.com/wp/2016/07/30/take-a-tour/">Dyer Woods</a>. By-and-large, we're all pretty new to this sort of thing, so we're very welcoming to newcomers!</p>
        </section>

        <section>
            <h3>Naked Donut Run</h3>
            <p>
                We help organize Brown University's twice-annual Naked Donut Run.
                <a href="/ndr">For the latest information, click here!</a>
            </p>
        </section>
    </section>
</main>
{% endblock content %}